<section class="flex justify-center items-center">
    <section class="card flex  max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
        <section>
            <h3 class="farm-name">{{farm_name}}</h3>
            <h4>Location: {{location}}</h4>
            <h4>description: {{description}}</h4>
        </section>
    </section>
</section>
