<div class="flex justify-center items-start h-screen">
  <div class="bg-white w-64 max-w-xs p-4 rounded-md mt-1/4">
    <h1 class="text-center text-xl font-bold mb-4">Order Summary</h1>
    <ul>
      <li>filler order right now</li>
    </ul>
  </div>
</div>