<section class="container">
  <h3 class="farm-name">{{farm.name}}</h3>
  <h4>Location: {{farm.location}}</h4>
  <h4>description: {{farm.description}}</h4>
  <section class="flex-row justify-center">
    {{#each farmer.produce as |produce|}}
    {{> produce-details}}
    {{/each}}
  </section>
</section>